[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
beautifulsoup4 = "*"
selenium = "*"
selenium-requests = "*"
pyrogram = "*"
tgcrypto = "*"
flask = "*"
flask-jwt-Extended = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
pytelegrambotapi = "*"

[dev-packages]

[requires]
python_version = "3.9"
