# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\yarem\OneDrive\Робочий стіл\НаУКМА\2 курс\2 семестр\Хмари\SazBot\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
